<div id="detailsView">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header" disabled>
                <a class="navbar-brand">Twitter</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a id="homeLink" href="#/home">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <button ng-click="doLogout()" id="logout" type="button" class="btn btn-primary navbar-btn"
                        style="margin-right: 8px"><span
                        class="glyphicon glyphicon-log-out"></span> Logout
                </button>
            </ul>
        </div>
    </nav>
    <div id="headerDiv" data-ng-init="getAccount()" style="margin-left: 8px; margin-top: -8px; margin-bottom: 24px">
        <span>
            <div style="display:inline-block">
                <h2 id="detailsRealName"><p><b>{{handleRealName}}</b></p></h2>
            </div>
            <div style="display:inline-block">
                <button id="followingButton" style="margin-top: -10px" id="alreadyFollowing" type="button" class="btn btn-success"
                        ng-show="!myOwnDetails && isAFollower">Following
                </button>
                <button id="followButton" style="margin-top: -10px" id="follow" type="button" class="btn btn-info"
                        ng-show="!myOwnDetails && !isAFollower"
                        ng-click="startFollowing()">Follow
                </button>
            </div>
        </span>
        <h3 style="margin-top: -8px" id="detailsHandle">@{{account.handle}}</h3>
    </div>
    <div class="panel-group" style="margin: 8px">
        <div class="panel panel-primary" style="height: 350px; overflow: auto;">
            <div class="panel-heading">Tweets</div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="column-header">Content</th>
                    <th class="column-header">Time</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="t in tweets">
                    <td id="postingContent"> {{ t.content }}</td>
                    <td id="postingDate" type="date"> {{ t.dateCreated | date: 'MMM dd'}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel panel-primary" ng-show="myOwnDetails" style="margin-top:18px">
            <div class="panel-heading">Personal Info</div>
            <div class="row panel-body" style="margin: 8px">

                <form class="form-inline" role="form" style="margin-bottom: 8px">
                    <label for="nameInput">Name</label>
                    <input id="nameInput"
                           class="form-control"
                           ng-model="account.realName">
                </form>

                <form class="form-inline" role="form" style="margin-bottom: 8px">
                    <label for="emailInput" style="display: inline">Email</label>
                    <input id="emailInput"
                           style="display: inline"
                           type="email"
                           class="form-control"
                           ng-model="account.email">
                </form>


                <button style="margin-bottom: 8px" id="updateSaveButton"
                        class="btn btn-primary" ng-click="updateUserDetails()">Update
                </button>
                <div class="alert alert-danger" ng-show="error">
                    <strong>Error!</strong> {{ error }}
                </div>
                <div class="alert alert-success" ng-show="success">
                    <strong>Success!</strong> {{ success }}
                </div>
            </div>
        </div>
    </div>
</div>