<div class="container-fluid">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Twitter</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a class="nav-link" href="#/home">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/exit" ng-click="doLogout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        <form class="form-inline pull-xs-right">
            <input id="searchBox" class="form-control" placeholder="Search messages..." ng-model="searchArgs.text">
            <button id="searchButton" class="btn btn-success-outline" type="submit" ng-click="doMessageSearch()">Search</button>
        </form>
    </div>
    <div id="resultsDiv" style="height: 350px; overflow: auto; margin-top:18px">
        <table id="searchResultsTable" class="table">
            <thead>
            <tr>
                <th>Message</th>
                <th>Handle</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="searchResult in searchResults">
                <td id="messageContent">{{searchResult.message.content}}</td>
                <td id="messagePoster"><a id="nameLink" href="#/userDetail?handle={{searchResult.handle}}">{{searchResult.handle}}</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>